:root {
    --primary: #6f040d;
    --secondary: #FA707C;
}

.subject {
    @import '../components/layout.scss';

    color: $light;

    padding: 0.25rem;
    padding-top: 0;
    padding-bottom: 0;

    border-radius: 5px;

    margin: 0.25rem;
    padding: 0.15rem;

    padding-left: .25rem;
    padding-right: .25rem;

    font-weight: 500;
}